.body > * {
  padding: var(--spacing-paragraphs);
  display: flex;
  flex-direction: column;
}

.body > .sidebar {
  min-width: var(--page-sidebar);
}

.body > .main {
  padding: var(--spacing-layout);
}

/* passes grid cell to children */
.timeline .details {
  display: contents;
}
.timeline > *:not(:last-of-type),
.experience > div:not(:last-of-type),
.skills .subsection,
.section:not(.header):not(.contact),
h2 {
  margin-bottom: var(--spacing-paragraphs);
}
.history {
  padding-top: var(--spacing-paragraphs);
}

.icon {
  display: flex;
  align-items: center;
}

p.nudge,
.nudge p {
  position: relative;
  top: 2px;
}

.summary p {
  margin-bottom: var(--spacing-paragraphs);
}
