.cover-letter {
  padding: var(--spacing-paragraphs);
}
.cover-letter svg {
  width: 150px;
  color: var(--color-primary);
}
.cover-letter svg,
.cover-letter p {
  margin-bottom: var(--spacing-paragraphs);
}
