.experience .experience-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-paragraphs);
}

.experience .title {
  display: flex;
  flex-direction: column;
}

.experience .title span {
  font-style: italic;
}

.experience ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: var(--spacing-paragraphs);
}

.experience .details {
  color: var(--text-faded);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.experience .details * {
  font-size: 8pt;
}
