.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h3 {
  color: var(--color-secondary);
  position: absolute;
  /* LEFT */
  top: 16px;
  left: 95px;
  font-size: 18pt;

  /* TOP */
  /* top: 16px; */
  /* left: 336px; */
  /* font-size: 14pt; */
  /* BOTTOM */
  /* top: 66px; */
  /* left: 306px; */
  /* font-size: 20pt; */
}
.header .first {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--color-primary);
}
.header .last {
  letter-spacing: 4px;
  color: var(--color-secondary);
}
.header .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .contact-item {
  justify-content: end;
}
.header .contact p {
  font-size: 8pt;
}
.header svg {
  color: var(--color-primary);
}
