.skills > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'methods libs'
    'design libs';
}
.skills .subsection:last-of-type {
  grid-area: libs;
}
.skills h2 {
  grid-area: header;
  margin-top: var(--spacing-words);
}
.subsection {
  display: flex;
  flex-direction: column;
}
.subsection li {
  margin: 0 var(--spacing-words) 0;
  /* margin: 0 var(--spacing-words) 0 var(--spacing-paragraphs); */
}
.subsection h3 {
  margin-bottom: calc(var(--spacing-paragraphs) / 2);
}

.libs li {
  padding-bottom: var(--spacing-words);
}

.libs svg {
  height: 20px;
  width: 20px;
}
