@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #334155;
  --text-faded: #64748b;
  --text-primary: #4338ca;
  --text-secondary: #c026d3;
  --sidebar-width: 3in;
  --sidebar-color: #e7e5ff;
  --icon-size: 30px;
}

/* * * * * * * * *
 * GLOBAL STYLES *
 * * * * * * * * */
@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  width: 8.5in;
  color: var(--text);
  font-size: 10pt;
  line-height: 1.4;
}
/* Name only */
h1 {
  font-size: 58px;
  color: var(--text-primary);
  font-weight: bold;
  line-height: 1.2;
  margin-top: 16px;
}
/* Section Titles */
h2 {
  font-size: 14pt;
  line-height: 1.2;
  color: var(--text-primary);
  font-weight: 800;
}
/* skills subsections, experience subsections */
h3 {
  font-family: 'Covered By Your Grace';
  font-size: 12pt;
  color: var(--text-secondary);
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 10pt;
  line-height: 1.4;
}

/* * * * * *
 * LAYLOUT *
 * * * * * */
.layout::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid var(--text-primary);
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--sidebar-color);
  z-index: -1;
}
.layout {
  position: relative;
  display: grid;
  grid-template-columns: [sidebar] var(--sidebar-width) [main] calc(
      8.5in - var(--sidebar-width)
    );
  grid-auto-flow: dense;

  .section:not(.sidebar) {
    grid-column: main;
  }
  .sidebar {
    grid-column: sidebar;
  }
}
/* passes grid cell to children */
.header,
.timeline-event {
  display: contents;
}

/* * * * * * * * *
 * HEADER STYLES *
 * * * * * * * * */
.header > .sidebar {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header > .sidebar > * {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.header > .sidebar > * > :first-child {
  color: var(--text-primary);
  margin-right: 8px;
}

.header > .sidebar > * > :last-child {
  position: relative;
  top: 2px;
}

/* * * * * * * * *
 * SKILLS STYLES *
 * * * * * * * * */
.subsection {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

/* * * * * * * * * *
 * TIMELINE STYLES *
 * * * * * * * * * */
.timeline {
  display: grid;
  grid-template-columns: [icon] var(--icon-size) [main] 1fr;

  .deets {
    grid-column: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 8px;
    margin-bottom: 24px;
  }

  .stack {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .stack > * {
    padding-right: 4px;
  }

  .timeline-event {
    margin-bottom: 8px;
  }

  /* ensures no vertical line after the last icon */
  :last-child .icon::before {
    bottom: 0;
  }
  .icon::before {
    content: '';
    position: absolute;
    top: calc(var(--icon-size) / 2);
    bottom: -80px;
    left: calc((var(--icon-size) - 3px) / 2);
    width: 3px;
    background-color: var(--text-secondary);
    z-index: -1;
  }
  .icon {
    position: relative;
    grid-column: icon;
    border-radius: 30%;
    background-color: var(--text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--icon-size);
    width: var(--icon-size);
  }
}

/* * * * * * *
 * EDUCATION *
 * * * * * * */

/* * * * * *
 * SUMMARY *
 * * * * * */

/* * * * * * *
 * EXPERIENCE *
 * * * * * * */
.experience ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

/* * * * * * * *
 * MISC STYLES *
 * * * * * * * */

/* * * * * * * *
 * FONT STYLES *
 * * * * * * * */
@layer base {
  @font-face {
    font-family: 'Avenir Next';
    font-style: italic;
    font-weight: 200 400;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-It.otf) format('opentype');
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 200 400;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700 800;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/CoveredByYourGrace-Regular.ttf) format('opentype');
  }
}
