@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #334155;
  --text-faded: #64748b;
  --text-primary: #4338ca;
  --text-secondary: #c026d3;
  --sidebar-width: 3in;
  --sidebar-color: #e7e5ff;
  --icon-size: 30px;
}

@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }
}

body {
  font-family: 'Plus Jakarta Sans', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  width: 8.5in;
  color: var(--text);
}

/* Name only */
h1 {
  font-size: 58px;
  color: var(--text-primary);
  font-weight: bold;
}
/* Section Titles */
h2 {
  color: var(--text-primary);
  font-weight: bold;
}
/* skills subsections, strength name */
h3 {
  color: var(--text-secondary);
  font-weight: bold;
}

.layout::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid var(--text-primary);
  border-right: 1px solid var(--color-primary-300);
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--sidebar-color);
  z-index: -1;
}
.layout {
  position: relative;
  display: grid;
  grid-template-columns: [sidebar] var(--sidebar-width) [main] calc(
      8.5in - var(--sidebar-width)
    );
  /* grid-auto-rows: min-content; */
  grid-auto-flow: dense;

  .section:not(.sidebar) {
    grid-column: main;
  }
  .sidebar {
    grid-column: sidebar;
  }
}

/* passes grid cell to children */
.header,
.timeline-event {
  display: contents;
}

.timeline {
  display: grid;
  grid-template-columns: [icon] var(--icon-size) [main] 1fr;
  grid-auto-rows: min-content;

  /* ensures no vertical line after the last icon */
  :last-child .icon::before {
    bottom: 0;
  }
  .timeline-event > :not(.icon) {
    grid-column: main;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .icon {
    position: relative;
    grid-column: icon;
    border-radius: 50%;
    background-color: var(--text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--icon-size);
  }
  .icon::before {
    content: '';
    position: absolute;
    top: calc(var(--icon-size) / 2);
    bottom: -80px;
    left: calc((var(--icon-size) - 3px) / 2);
    width: 3px;
    background-color: var(--text-primary);
    z-index: -1;
  }
}

.experience ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.subsection {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

@layer base {
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 200 800;
    font-display: swap;
    src: local('Plus Jakarta Sans'),
      url(./assets/fonts/PlusJakartaSans-VariableFont_weight.ttf)
        format('opentype');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: italic;
    font-weight: 200 800;
    font-display: swap;
    src: local('Plus Jakarta Sans'),
      url(./assets/fonts/PlusJakartaSans-Italic-VariableFont_weight.ttf)
        format('opentype');
  }
}
