@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-1: #fcfcfc;
  --color-gray-2: #f9f9f9;
  --color-gray-3: #f0f0f0;
  --color-gray-4: #e8e8e8;
  --color-gray-5: #e0e0e0;
  --color-gray-6: #d9d9d9;
  --color-gray-7: #cecece;
  --color-gray-8: #bbbbbb;
  --color-gray-9: #8d8d8d;
  --color-gray-10: #838383;
  --color-gray-11: #646464;
  --color-gray-12: #202020;

  --color-mauve-1: #fdfcfd;
  --color-mauve-2: #faf9fb;
  --color-mauve-3: #f2eff3;
  --color-mauve-4: #eae7ec;
  --color-mauve-5: #e3dfe6;
  --color-mauve-6: #dbd8e0;
  --color-mauve-7: #d0cdd7;
  --color-mauve-8: #bcbac7;
  --color-mauve-9: #8e8c99;
  --color-mauve-10: #84828e;
  --color-mauve-11: #65636d;
  --color-mauve-12: #211f26;

  --color-slate-1: #fcfcfd;
  --color-slate-2: #f9f9fb;
  --color-slate-3: #f0f0f3;
  --color-slate-4: #e8e8ec;
  --color-slate-5: #e0e1e6;
  --color-slate-6: #d9d9e0;
  --color-slate-7: #cdced6;
  --color-slate-8: #b9bbc6;
  --color-slate-9: #8b8d98;
  --color-slate-10: #80838d;
  --color-slate-11: #60646c;
  --color-slate-12: #1c2024;

  --color-sage-1: #fbfdfc;
  --color-sage-2: #f7f9f8;
  --color-sage-3: #eef1f0;
  --color-sage-4: #e6e9e8;
  --color-sage-5: #dfe2e0;
  --color-sage-6: #d7dad9;
  --color-sage-7: #cbcfcd;
  --color-sage-8: #b8bcba;
  --color-sage-9: #868e8b;
  --color-sage-10: #7c8481;
  --color-sage-11: #5f6563;
  --color-sage-12: #1a211e;

  --color-olive-1: #fcfdfc;
  --color-olive-2: #f8faf8;
  --color-olive-3: #eff1ef;
  --color-olive-4: #e7e9e7;
  --color-olive-5: #dfe2df;
  --color-olive-6: #d7dad7;
  --color-olive-7: #cccfcc;
  --color-olive-8: #b9bcb8;
  --color-olive-9: #898e87;
  --color-olive-10: #7f847d;
  --color-olive-11: #60655f;
  --color-olive-12: #1d211c;

  --color-sand-1: #fdfdfc;
  --color-sand-2: #f9f9f8;
  --color-sand-3: #f1f0ef;
  --color-sand-4: #e9e8e6;
  --color-sand-5: #e2e1de;
  --color-sand-6: #dad9d6;
  --color-sand-7: #cfceca;
  --color-sand-8: #bcbbb5;
  --color-sand-9: #8d8d86;
  --color-sand-10: #82827c;
  --color-sand-11: #63635e;
  --color-sand-12: #21201c;

  --color-tomato-1: #fffcfc;
  --color-tomato-2: #fff8f7;
  --color-tomato-3: #feebe7;
  --color-tomato-4: #ffdcd3;
  --color-tomato-5: #ffcdc2;
  --color-tomato-6: #fdbdaf;
  --color-tomato-7: #f5a898;
  --color-tomato-8: #ec8e7b;
  --color-tomato-9: #e54d2e;
  --color-tomato-10: #dd4425;
  --color-tomato-11: #d13415;
  --color-tomato-12: #5c271f;

  --color-red-1: #fffcfc;
  --color-red-2: #fff7f7;
  --color-red-3: #feebec;
  --color-red-4: #ffdbdc;
  --color-red-5: #ffcdce;
  --color-red-6: #fdbdbe;
  --color-red-7: #f4a9aa;
  --color-red-8: #eb8e90;
  --color-red-9: #e5484d;
  --color-red-10: #dc3e42;
  --color-red-11: #ce2c31;
  --color-red-12: #641723;

  --color-ruby-1: #fffcfd;
  --color-ruby-2: #fff7f8;
  --color-ruby-3: #feeaed;
  --color-ruby-4: #ffdce1;
  --color-ruby-5: #ffced6;
  --color-ruby-6: #f8bfc8;
  --color-ruby-7: #efacb8;
  --color-ruby-8: #e592a3;
  --color-ruby-9: #e54666;
  --color-ruby-10: #dc3b5d;
  --color-ruby-11: #ca244d;
  --color-ruby-12: #64172b;

  --color-crimson-1: #fffcfd;
  --color-crimson-2: #fef7f9;
  --color-crimson-3: #ffe9f0;
  --color-crimson-4: #fedce7;
  --color-crimson-5: #facedd;
  --color-crimson-6: #f3bed1;
  --color-crimson-7: #eaacc3;
  --color-crimson-8: #e093b2;
  --color-crimson-9: #e93d82;
  --color-crimson-10: #df3478;
  --color-crimson-11: #cb1d63;
  --color-crimson-12: #621639;

  --color-pink-1: #fffcfe;
  --color-pink-2: #fef7fb;
  --color-pink-3: #fee9f5;
  --color-pink-4: #fbdcef;
  --color-pink-5: #f6cee7;
  --color-pink-6: #efbfdd;
  --color-pink-7: #e7acd0;
  --color-pink-8: #dd93c2;
  --color-pink-9: #d6409f;
  --color-pink-10: #cf3897;
  --color-pink-11: #c2298a;
  --color-pink-12: #651249;

  --color-plum-1: #fefcff;
  --color-plum-2: #fdf7fd;
  --color-plum-3: #fbebfb;
  --color-plum-4: #f7def8;
  --color-plum-5: #f2d1f3;
  --color-plum-6: #e9c2ec;
  --color-plum-7: #deade3;
  --color-plum-8: #cf91d8;
  --color-plum-9: #ab4aba;
  --color-plum-10: #a144af;
  --color-plum-11: #953ea3;
  --color-plum-12: #53195d;

  --color-purple-1: #fefcfe;
  --color-purple-2: #fbf7fe;
  --color-purple-3: #f7edfe;
  --color-purple-4: #f2e2fc;
  --color-purple-5: #ead5f9;
  --color-purple-6: #e0c4f4;
  --color-purple-7: #d1afec;
  --color-purple-8: #be93e4;
  --color-purple-9: #8e4ec6;
  --color-purple-10: #8347b9;
  --color-purple-11: #8145b5;
  --color-purple-12: #402060;

  --color-violet-1: #fdfcfe;
  --color-violet-2: #faf8ff;
  --color-violet-3: #f4f0fe;
  --color-violet-4: #ebe4ff;
  --color-violet-5: #e1d9ff;
  --color-violet-6: #d4cafe;
  --color-violet-7: #c2b5f5;
  --color-violet-8: #aa99ec;
  --color-violet-9: #6e56cf;
  --color-violet-10: #654dc4;
  --color-violet-11: #6550b9;
  --color-violet-12: #2f265f;

  --color-iris-1: #fdfdff;
  --color-iris-2: #f8f8ff;
  --color-iris-3: #f0f1fe;
  --color-iris-4: #e6e7ff;
  --color-iris-5: #dadcff;
  --color-iris-6: #cbcdff;
  --color-iris-7: #b8baf8;
  --color-iris-8: #9b9ef0;
  --color-iris-9: #5b5bd6;
  --color-iris-10: #5151cd;
  --color-iris-11: #5753c6;
  --color-iris-12: #272962;

  --color-indigo-1: #fdfdfe;
  --color-indigo-2: #f7f9ff;
  --color-indigo-3: #edf2fe;
  --color-indigo-4: #e1e9ff;
  --color-indigo-5: #d2deff;
  --color-indigo-6: #c1d0ff;
  --color-indigo-7: #abbdf9;
  --color-indigo-8: #8da4ef;
  --color-indigo-9: #3e63dd;
  --color-indigo-10: #3358d4;
  --color-indigo-11: #3a5bc7;
  --color-indigo-12: #1f2d5c;

  --color-blue-1: #fbfdff;
  --color-blue-2: #f4faff;
  --color-blue-3: #e6f4fe;
  --color-blue-4: #d5efff;
  --color-blue-5: #c2e5ff;
  --color-blue-6: #acd8fc;
  --color-blue-7: #8ec8f6;
  --color-blue-8: #5eb1ef;
  --color-blue-9: #0090ff;
  --color-blue-10: #0588f0;
  --color-blue-11: #0d74ce;
  --color-blue-12: #113264;

  --color-cyan-1: #fafdfe;
  --color-cyan-2: #f2fafb;
  --color-cyan-3: #def7f9;
  --color-cyan-4: #caf1f6;
  --color-cyan-5: #b5e9f0;
  --color-cyan-6: #9ddde7;
  --color-cyan-7: #7dcedc;
  --color-cyan-8: #3db9cf;
  --color-cyan-9: #00a2c7;
  --color-cyan-10: #0797b9;
  --color-cyan-11: #107d98;
  --color-cyan-12: #0d3c48;

  --color-teal-1: #fafefd;
  --color-teal-2: #f3fbf9;
  --color-teal-3: #e0f8f3;
  --color-teal-4: #ccf3ea;
  --color-teal-5: #b8eae0;
  --color-teal-6: #a1ded2;
  --color-teal-7: #83cdc1;
  --color-teal-8: #53b9ab;
  --color-teal-9: #12a594;
  --color-teal-10: #0d9b8a;
  --color-teal-11: #008573;
  --color-teal-12: #0d3d38;

  --color-jade-1: #fbfefd;
  --color-jade-2: #f4fbf7;
  --color-jade-3: #e6f7ed;
  --color-jade-4: #d6f1e3;
  --color-jade-5: #c3e9d7;
  --color-jade-6: #acdec8;
  --color-jade-7: #8bceb6;
  --color-jade-8: #56ba9f;
  --color-jade-9: #29a383;
  --color-jade-10: #26997b;
  --color-jade-11: #208368;
  --color-jade-12: #1d3b31;

  --color-green-1: #fbfefc;
  --color-green-2: #f4fbf6;
  --color-green-3: #e6f6eb;
  --color-green-4: #d6f1df;
  --color-green-5: #c4e8d1;
  --color-green-6: #adddc0;
  --color-green-7: #8eceaa;
  --color-green-8: #5bb98b;
  --color-green-9: #30a46c;
  --color-green-10: #2b9a66;
  --color-green-11: #218358;
  --color-green-12: #193b2d;

  --color-grass-1: #fbfefb;
  --color-grass-2: #f5fbf5;
  --color-grass-3: #e9f6e9;
  --color-grass-4: #daf1db;
  --color-grass-5: #c9e8ca;
  --color-grass-6: #b2ddb5;
  --color-grass-7: #94ce9a;
  --color-grass-8: #65ba74;
  --color-grass-9: #46a758;
  --color-grass-10: #3e9b4f;
  --color-grass-11: #2a7e3b;
  --color-grass-12: #203c25;

  --color-brown-1: #fefdfc;
  --color-brown-2: #fcf9f6;
  --color-brown-3: #f6eee7;
  --color-brown-4: #f0e4d9;
  --color-brown-5: #ebdaca;
  --color-brown-6: #e4cdb7;
  --color-brown-7: #dcbc9f;
  --color-brown-8: #cea37e;
  --color-brown-9: #ad7f58;
  --color-brown-10: #a07553;
  --color-brown-11: #815e46;
  --color-brown-12: #3e332e;

  --color-bronze-1: #fdfcfc;
  --color-bronze-2: #fdf7f5;
  --color-bronze-3: #f6edea;
  --color-bronze-4: #efe4df;
  --color-bronze-5: #e7d9d3;
  --color-bronze-6: #dfcdc5;
  --color-bronze-7: #d3bcb3;
  --color-bronze-8: #c2a499;
  --color-bronze-9: #a18072;
  --color-bronze-10: #957468;
  --color-bronze-11: #7d5e54;
  --color-bronze-12: #43302b;

  --color-gold-1: #fdfdfc;
  --color-gold-2: #faf9f2;
  --color-gold-3: #f2f0e7;
  --color-gold-4: #eae6db;
  --color-gold-5: #e1dccf;
  --color-gold-6: #d8d0bf;
  --color-gold-7: #cbc0aa;
  --color-gold-8: #b9a88d;
  --color-gold-9: #978365;
  --color-gold-10: #8c7a5e;
  --color-gold-11: #71624b;
  --color-gold-12: #3b352b;

  --color-sky-1: #f9feff;
  --color-sky-2: #f1fafd;
  --color-sky-3: #e1f6fd;
  --color-sky-4: #d1f0fa;
  --color-sky-5: #bee7f5;
  --color-sky-6: #a9daed;
  --color-sky-7: #8dcae3;
  --color-sky-8: #60b3d7;
  --color-sky-9: #7ce2fe;
  --color-sky-10: #74daf8;
  --color-sky-11: #00749e;
  --color-sky-12: #1d3e56;

  --color-mint-1: #f9fefd;
  --color-mint-2: #f2fbf9;
  --color-mint-3: #ddf9f2;
  --color-mint-4: #c8f4e9;
  --color-mint-5: #b3ecde;
  --color-mint-6: #9ce0d0;
  --color-mint-7: #7ecfbd;
  --color-mint-8: #4cbba5;
  --color-mint-9: #86ead4;
  --color-mint-10: #7de0cb;
  --color-mint-11: #027864;
  --color-mint-12: #16433c;

  --color-lime-1: #fcfdfa;
  --color-lime-2: #f8faf3;
  --color-lime-3: #eef6d6;
  --color-lime-4: #e2f0bd;
  --color-lime-5: #d3e7a6;
  --color-lime-6: #c2da91;
  --color-lime-7: #abc978;
  --color-lime-8: #8db654;
  --color-lime-9: #bdee63;
  --color-lime-10: #b0e64c;
  --color-lime-11: #5c7c2f;
  --color-lime-12: #37401c;

  --color-yellow-1: #fdfdf9;
  --color-yellow-2: #fefce9;
  --color-yellow-3: #fffab8;
  --color-yellow-4: #fff394;
  --color-yellow-5: #ffe770;
  --color-yellow-6: #f3d768;
  --color-yellow-7: #e4c767;
  --color-yellow-8: #d5ae39;
  --color-yellow-9: #ffe629;
  --color-yellow-10: #ffdc00;
  --color-yellow-11: #9e6c00;
  --color-yellow-12: #473b1f;

  --color-amber-1: #fefdfb;
  --color-amber-2: #fefbe9;
  --color-amber-3: #fff7c2;
  --color-amber-4: #ffee9c;
  --color-amber-5: #fbe577;
  --color-amber-6: #f3d673;
  --color-amber-7: #e9c162;
  --color-amber-8: #e2a336;
  --color-amber-9: #ffc53d;
  --color-amber-10: #ffba18;
  --color-amber-11: #ab6400;
  --color-amber-12: #4f3422;

  --color-orange-1: #fefcfb;
  --color-orange-2: #fff7ed;
  --color-orange-3: #ffefd6;
  --color-orange-4: #ffdfb5;
  --color-orange-5: #ffd19a;
  --color-orange-6: #ffc182;
  --color-orange-7: #f5ae73;
  --color-orange-8: #ec9455;
  --color-orange-9: #f76b15;
  --color-orange-10: #ef5f00;
  --color-orange-11: #cc4e00;
  --color-orange-12: #582d1d;
}

/* 
 * https://www.radix-ui.com/colors
 * backgrounds: 1, 2
 * interactive: 3, 4, 5
 * borders and seperators: 6, 7, 8
 * solids: 9, 10
 * text: 11, 12
 */
:root {
  --text: var(--color-slate-12);
  --text-faded: var(--color-slate-11);
  --spacing-layout: 24px; /* same as 0.25in */
  --spacing-paragraphs: 12px;
  --spacing-words: 4px;
  --color-primary: var(--color-indigo-10);
  --color-secondary: var(var(--color-jade-10));
  --bg-color: var(--color-iris-2);

  --page-width: 8.5in;
  --page-height: 11in;
  --sidebar-width: 3in;
  --sidebar-color: #e7e5ff;
  --icon-size: 30px;
}

/* * * * * * * * *
 * GLOBAL STYLES *
 * * * * * * * * */

@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: gray;
}

body {
  font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
  width: 8.5in;
  color: var(--text);
  font-size: 10pt;
  line-height: 1.4;
  background-color: var(--bg-color);
}

/* Header only */
h1 {
  font-size: 72px; /* @TODO bring back to 58px*/
  line-height: 1.2;
}

/* Section Titles */
h2 {
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--text-faded);
  letter-spacing: 10px;
  font-size: 10pt;
  line-height: 1.2;
}

/* skills subsections, experience subsections */
h3 {
  font-family: 'Covered By Your Grace';
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0.03rem;
}
p {
  font-size: 10pt;
  line-height: 1.4;
}

@layer base {
  @font-face {
    font-family: 'Avenir Next';
    font-style: italic;
    font-weight: 200 400;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-It.otf) format('opentype');
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 200 400;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
  }
  @font-face {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700 800;
    font-display: block;
    src: url(./assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
  }
  @font-face {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/CoveredByYourGrace-Regular.ttf) format('opentype');
  }
}
